<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Redefinir senha do My Blog</title>
  <style>
    /* Estilos Bootstrap 5 */
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }

    .alert-important {
      /* Cor de fundo da caixa de dicas */
      background-color: *{{ important_background_color }}*;
      padding: 10px;
      border: 1px solid #DDD;
      margin-bottom: 20px;
    }

    .alert-important h3 {
      /* Cor do título das dicas */
      color: *{{ important_title_color }}*;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .alert-important ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .alert-important li {
      margin-bottom: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Redefinir sua senha do My Blog</h1>

    <p>Olá, <%= @resource.perfil.nome %> <%= @resource.perfil.sobrenome %>!</p>

    <p>Parece que você está tendo problemas para acessar sua conta. Não se preocupe, podemos te ajudar a recuperar sua senha em apenas alguns passos.</p>

    <p><strong><h3>Siga os passos abaixos:</h3></strong></p>

    <ol>
      <li>Clique aqui para redefinir sua senha: <a href="[Link para redefinição de senha]"><%= link_to "Redefinir Senha", edit_password_url(@resource, reset_password_token: @token) %></a></li>
      <li>Crie uma nova senha forte: Use uma combinação de letras maiúsculas e minúsculas, números e símbolos para garantir a segurança da sua conta.</li>
      <li>Confirme sua nova senha: Digite novamente a senha que você criou na etapa anterior.</li>
      <li>Clique em "Redefinir sua senha": Pronto! Sua senha foi redefinida com sucesso.</li>
    </ol>

    <div class="alert-important">
      <h3>Dicas Importantes:</h3>
      <ul>
        <li>Nunca compartilhe sua senha com ninguém: Sua senha é a chave para sua conta, portanto, mantenha-a em sigilo.</li>
        <li>Adicione "emails@myblog.com" à sua lista de remetentes seguros: Isso garante que você receba nossos e-mails importantes, como atualizações de conta e notificações de segurança.</li>
        <li>Fique atento a e-mails de phishing: E-mails fraudulentos podem tentar imitar o My Blog para obter suas informações pessoais. Tenha cuidado com e-mails que usam saudações genéricas, pedem informações confidenciais ou contêm links suspeitos.</li>
      </ul>
    </div>

    <p>Obrigado por usar o My Blog!</p>

    <p>Equipe My Blog</p>

    <p>Copyright &copy; Daiana Simão <%= Date.current.year %></p>
  </div>
</body>
</html>