<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Password - My Blog</title>
  <style>
    /* Bootstrap 5 Styles */
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }

    .alert-important {
      /* Background color of the tips box */
      background-color: *{{ important_background_color }}*;
      padding: 10px;
      border: 1px solid #DDD;
      margin-bottom: 20px;
    }

    .alert-important h3 {
      /* Title color of the tips */
      color: *{{ important_title_color }}*;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .alert-important ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .alert-important li {
      margin-bottom: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Reset Your Password - My Blog</h1>

    <p>Hello, <%= @resource.perfil.nome %> <%= @resource.perfil.sobrenome %>!</p>

    <p>It seems you're having trouble accessing your account. Don't worry, we can help you recover your password in just a few steps.</p>

    <p><strong><h3>Follow the steps below:</h3></strong></p>

    <ol>
      <li>Click here to reset your password: <a href="[Link to password reset]"><%= link_to "Reset Password", edit_password_url(@resource, reset_password_token: @token) %></a></li>
      <li>Create a strong new password: Use a combination of uppercase and lowercase letters, numbers, and symbols to ensure the security of your account.</li>
      <li>Confirm your new password: Type the password you created in the previous step again.</li>
      <li>Click "Reset your password": Done! Your password has been successfully reset.</li>
    </ol>

    <div class="alert-important">
      <h3>Important Tips:</h3>
      <ul>
        <li>Never share your password with anyone: Your password is the key to your account, so keep it confidential.</li>
        <li>Add "emails@myblog.com" to your safe senders list: This ensures that you receive our important emails, such as account updates and security notifications.</li>
        <li>Watch out for phishing emails: Fraudulent emails may try to impersonate My Blog to obtain your personal information. Be cautious of emails that use generic greetings, request confidential information, or contain suspicious links.</li>
      </ul>
    </div>

    <p>Thank you for using My Blog!</p>

    <p>My Blog Team</p>

    <p>Copyright &copy; Daiana Simão <%= Date.current.year %></p>
  </div>
</body>
</html>
